streamlit==1.29.0
boto3
botocore
streamlit-drawable-canvas
openai
langchain
langchain-openai
langgraph
langchain-community
chromadb
scrubadub
scrubadub_address
scrubadub_stanford
spacy>=3.7.2,<3.8.0
scrubadub_spacy
urllib3
